@model Product

<div>
	<div>
		<h4>
			@Model.Name
			<span>
				<small>@Model.Price.ToString("c")</small>
			</span>
		</h4>
	</div>

	<form id="@Model.ProductID" asp-page="/Cart" method="post">
		<input type="hidden" asp-for="ProductID"/>
		<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
		<span>
			@Model.Description
			<button type="submit">Add to Cart</button>
		</span>
	</form>
</div>
